@use '/src/scss/variables/colors.scss';
@use '/src/scss/variables/shadows.scss';

#header {
    width: 100%;
    height: 6%;
    background-color: colors.$dark-grey;
    box-shadow: shadows.$down-right;
}